<header class="header">
  <div class="logo">VIBE<span>FIT</span></div>

  <!-- Бургер-меню для мобильных -->
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>

  <nav class="nav-menu">
    <ul>
      <li>
        <a href="{% url 'main' %}"><h2>Main</h2></a>
      </li>
      <li>
        <a href="{% url 'personal_office' %}"><h2>Personal Office</h2></a>
      </li>
      <li>
        <a href="{% url 'workouts' %}"><h2>Workouts</h2></a>
      </li>
      <li>
        <a href="{% url 'nutrition' %}"><h2>Nutrition</h2></a>
      </li>
    </ul>
  </nav>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerMenu = document.querySelector(".burger-menu");
    const navMenu = document.querySelector(".nav-menu");

    burgerMenu.addEventListener("click", function () {
      navMenu.classList.toggle("active");
    });
  });
</script>
